<ul>
  <% if user_signed_in? %>
    <li>Hi, user</li>
    <%= button_to "Log out", destroy_user_session_path , method: :delete %>
  <% else %>
    <li>Sign In</li>
    <li>Sign Up</li>
  <% end %>
</ul>